<div class="inner__wrapper flex justify-between items-center py-6 px-8 text-white">
  <div>
    <a routerLink="/" class="text-2xl font-bold tracking-wider">ToDo <span class="text-sm font-semibold opacity-25">1.00</span></a>
  </div>
  <nav class="hidden md:block">
    <ul class="flex items-center gap-12">
      <li><a routerLink="/" class="nav__link">Home</a></li>
      <li><a routerLink="/about" class="nav__link">About</a></li>
      <li><a routerLink="/todos" class="nav__link">All ToDos</a></li>
    </ul>
  </nav>
</div>
