<h2 class="text-lg md:text-xl font-semibold mb-8 md:mb-12"><i class="fa fa-plus text-sm"></i> Add new item</h2>

<div class="add_form_wrapper">
  <form class="w-full" (ngSubmit)="onSubmit()">
    <div class="mb-4 w-full">
      <label for="title" class="block mb-1">Add Title</label>
      <input type="text" placeholder="Title" name="title" [(ngModel)]="title" id="title" class="block py-4 px-4 bg__alt rounded-sm inputs" required>
    </div>
    <div class="mb-4 w-full">
      <label for="desc" class="block mb-1">Task Description</label>
      <textarea type="text" placeholder="Description" name="desc" [(ngModel)]="desc" id="desc" class="block py-4 px-4 bg__alt rounded-sm inputs" required></textarea>
    </div>
    <button class="btn__main btn__gradient"><span class="mt-1">Add Now</span> <i class="fa fa-angle-right ml-2"></i></button>
  </form>
</div>
