<section>
  <div class="inner__wrapper px-6 py-12">
    <h2 class="text__secondary text-xl font-semibold mb-6">Made with Angular with love</h2>
    <h1 class="text-5xl font-bold mb-12">About the ToDo App</h1>
    <p class="mb-12">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae consectetur voluptates distinctio accusantium quos quidem perferendis voluptatum incidunt sed, expedita reiciendis debitis veniam beatae nihil voluptatibus obcaecati nesciunt totam dolore est quam rem commodi asperiores at! Labore, fugit. Possimus optio architecto voluptates quae maxime fuga reiciendis perferendis praesentium odio doloribus magnam, natus ab, quia, autem fugiat nobis nam quisquam corrupti dolorum non impedit repellat incidunt delectus! Voluptatum recusandae tenetur necessitatibus laborum non commodi dicta doloremque voluptas numquam id totam porro suscipit consequuntur impedit mollitia rerum possimus ratione maxime reiciendis et odio, iure cum amet. Esse, tempore doloribus. Amet, labore dicta.
    </p>
    <a routerLink="/" class="btn__main btn__primary">Get Started</a>
  </div>
</section>
