<section class="">
  <div class="w-full h-full">
    <div class="full_section grid grid-cols-1 md:grid-cols-12 gap-4 sm:gap-6 md:gap-8 lg:gap-12">
      <div class="h-full col-span-1 md:col-span-4 lg:col-span-3 pt-28 pb-4 md:py-36 pr-4 sm:pr-6 pl-4 sm:pl-6 md:pr-0 md:pl-8">
        <app-add-todos (todoAdd)="todoAdded($event)" [todos]="todos"></app-add-todos>

        <div class="mt-8 mb-6 p-4 bg-gray-100 rounded-md">
          <h3 class="font-bold mb-4">API Response</h3>
          <p class="w-full overflow-hidden">{{this.message | json}}</p>
        </div>
      </div>
      <div class="h-full col-span-1 md:col-span-8 lg:col-span-9 py-8 md:py-28 px-4 sm:px-6 md:px-8 relative bg__gradient p-12">
        <app-loader *ngIf="this.loader;"></app-loader>
        <div *ngIf="this.todos;">

          <app-noticebar></app-noticebar>

          <h2 class="text-xl md:text-xl font-semibold mb-6 md:mb-8 text-white">Your tasks <span class="text-sm font-normal">({{this.todos.length}})</span></h2>

          <div *ngIf="this.todos.length==0; else noTodoElseBlock">
            <!-- <p class="mb-6">Nothing to show</p> -->
            <!-- <img src="../assets/images/beach_day.svg" alt="Beach party" class="w-full md:w-1/4"> -->
          </div>

          <ng-template #noTodoElseBlock>
            <div class="app-todo-item" (todoRemover)="todoRemoved($event)" (todoStatusChanged)="todoStatusChanged($event)" [todos]="todos"></div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>
